version: 2
updates:
- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: daily
  cooldown:
    default-days: 14
- package-ecosystem: "github-actions"
  directory: "/.github/workflows"
  schedule:
    interval: daily
  cooldown:
    default-days: 14
    